<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Secrets</title>
</head>
<body>
    <div>
        <h1>Dojo Secrets</h1>
        <hr>
    </div>
    <div>
        <h2>You've logged in! <%= user.first_name %></h2>
        <h3>You are using the email: <%= user.email %> </h3>
        <form action="/logout" method="post"><button type="submit">Log Out</button></form>
        <hr>
    </div>
    <div>
        <h4>Create a Secret</h4>
        <hr>
        <form action="/secret" method="POST">
            <h4>Secret</h4>
            <input type="text" name="secret" placeholder="What is your secret?">
            <button type="submit">Submit Secret</button>
        </form>
    </div>
    <div>
        <h3>All the secrets</h3>
        <% secrets.forEach(secret => { %>
            <div>
                <p> <%= secret.content  %> <% if (secret._user == user.user_id) { %> <form action="/secret/<%= secret._id  %> " method="POST"><button type="submit">Delete</button></form><% } %>  </p>
            </div>
        <% }) %>
    </div>
</body>
</html>